@media (max-width: 900px) {
    body {
        height: 100%;
        width: 100%;
    }

    .header {
        text-align: center;
    }

    .box-container {
        right: 5%;
        left: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2.5rem 1.25rem 4.3rem;
    }
    
    .price {
        position: relative;
    }

    #range {
        margin-bottom: 6.25rem;
    }

    .price .bill-time {
        position: absolute;
        bottom: -500%;
    }

    .discount-desktop {
        display: none;
    }

    .discount-mobile {
        display: block;
    }
    
    hr {
        top: 50%;
    }

    .toggle {
        align-items: center;
        justify-content: center;
        gap: 0.6rem;
        padding-right: 0;
    }

    label {
        width: 4rem;
    }

    .toggle div {
        gap: 0.3rem;
    }

    .benefits {
        flex-direction: column;
        gap: 1.25rem;
    }
}

@media (min-width:900px) and (max-width:1200px) {
    .box-container {
        left: 25%;
        right: 25%;
    }

    .toggle {
        justify-content: center;
        padding-right: 0;
        position: relative;
    }
    
    .discount-desktop {
        display: none;
    }

    .discount-mobile {
        display: block;
        position: absolute;
        right: 10%;
    }
}