@media (max-width: 900px) {
    body {
        height: 100%;
        width: 100%;
    }

    .header {
        text-align: center;
    }

    .box-container {
        right: 5%;
        left: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 20px 70px;
    }
    
    .price .price-desktop {
        display: none;
    }

    .price-mobile {
        display: flex;
        display: flex;
        gap: 5px;
        align-items: center;
        margin-bottom: 35px;
    }

    .discount-desktop {
        display: none;
    }

    .discount-mobile {
        display: block;
    }
    
    .toggle {
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    label {
        width: 4rem;
    }

    .toggle div {
        gap: 5px;
    }

    .benefits {
        flex-direction: column;
        gap: 20px;
    }
}

@media (min-width:900px) and (max-width:1200px) {
    .box-container {
        left: 25%;
        right: 25%;
    }

    .toggle {
        justify-content: center;
    }
    
    .discount-desktop {
        display: none;
    }

    .discount-mobile {
        display: block;
    }
}