@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

body {
    height: 100vh;
    font-family: 'Manrope';
    display: grid;
    grid-template-areas:
    'header'
    'main';
    grid-template-rows: repeat(2,1fr);
}

.header {
    grid-area: header;
    padding: 5% 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.25rem;
    background: var(--light-grayish-blue) url(../images/pattern-circles.svg) center 20% no-repeat;
}

.header h1 {
    color: var(--dark-desatured-blue);
    font-weight: 800;
}

.header p {
    color: var(--grayish-blue);
}

.main {
    grid-area: main;
    background-color: var(--very-pale-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
    position: relative;
}

.bg_change {
    background-color: var(--strong-cyan);
}

.box-container {
    position: absolute;
    top: -35%;
    background: var(--white);
    left: 30%;
    right: 30%;
    padding: 2.5rem 1.8rem 4.3rem 1.8rem;
    border-radius: 10px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.8rem;
}

.price .dollar {
    color: var(--dark-desatured-blue);
    font-size: 1.4rem;
}

.price span {
    color: var(--grayish-blue);
}

.pageviews {
    text-transform: uppercase;
    font-weight: 600;
}

.price div {
    display: flex;
    gap: 0.3rem;
    align-items: center;
}

.price-mobile {
    display: none;
}

.discount-mobile {
    display: none;
}

.price-mobile span {
    color: var(--grayish-blue);
}

h2 {
    font-size: 2rem;
    color: var(--dark-desatured-blue);
    font-weight: 800;
}

#range {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: var(--light-grayish-blue);
    outline: none;
    height: 0.6rem;
    border-radius: 9px;
    margin-bottom: 2.5rem;
}

#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: var(--strong-cyan) url(../images/icon-slider.svg) no-repeat center center;
    cursor: pointer;
    filter: drop-shadow(0px 5px 5px hsl(226, 100%, 87%));
}

.toggle {
    display: flex;
    position: relative;
    font-size: 0.8rem;
    justify-content: flex-end;
    gap: 0.6rem;
    margin-bottom: 4.3rem;
    padding-right: 1.4rem;
}

.toggle div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.toggle p {
    color: var(--grayish-blue);
}

.toggle span {
    padding: 0.3rem 0.6rem;
    border-radius: 6.25rem;
    color: var(--light-red);
    background: var(--light-grayish-red);
}

.toggle .discount {
    padding: 0;
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 3.5rem;
    height: 1.5rem;
    background-color: var(--light-grayish-blue-toggle);
    display: block;
    border-radius: 6.25rem;
    position: relative;
    transition: 0.3s;
}

label:after {
    content: '';
    position: absolute;
    top: 0.25rem;
    left: 0.3rem;
    width: 1rem;
    height: 1rem;
    background: var(--white);
    border-radius: 5.6rem;
    transition: 0.3s;
}

label:hover {
    opacity: 0.7;
}

input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    background: var(--white);
}

hr {
    margin-bottom: 1.8rem;
    width: 100%;
    position: absolute;
    top: 55%;
    left: 0;
    height: 1px;
    background: var(--light-grayish-blue-toggle);
}

.benefits {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.benefits ul {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    color: var(--grayish-blue);
}

.benefits li img {
    margin-right: 0.9rem;
}

button {
    background: var(--dark-desatured-blue);
    color: var(--pale-blue);
    padding: 0.6rem 3.1rem;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    border-radius: 6.25rem;
    transition: 0.3s;
}

button:hover {
    color: var(--white);
    cursor: pointer;
}


